@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  min-height: 100vh;
  min-width: 100vw;
  /* font-family: "Comfortaa", sans-serif; */
}
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.full-height {
  min-height: 100vh;
  min-width: 100vw;
}
